*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/aws.xml
/.idea/amazonq.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
